*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*-------------------------------------------*/
/*-------------------------a*/
header a{
    color: black;
    text-decoration: none;
    transition: 350ms ease-in-out;
}

header a:hover{
    cursor: pointer;
    color: var(--vinho);
}

footer a{
    color: white;
    text-decoration: none;
    transition: 350ms ease-in-out;
}

footer a:hover{
    cursor: pointer;
    color: var(--vinho);
}

a{
    text-decoration: none;
    color: white;
}
/*-------------------------------------------*/

/*Fonts|Color Palete---------------------------*/
:root{
    --vinho: #531312;
    --bg-gray: #F2F2F2;
    --bg-grayb: #424040;
}
/*-------------------------------------------------*/
@keyframes slideright {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
    
}

@keyframes slideleft {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
    
}

@keyframes aparecer{
    0%{
        transform: translateX(-200%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes descer{
    0%{
        opacity: 0;
        transform: translateY(-100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}



/*Header-----------------------------------------------*/
.icon_header{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}

.logo_header{
    width: 100%;
}

header{
    margin-top: 10px;
}

.navbar_col{
    display: flex;
    align-items: end;
}

.col_logo_header{
    display: flex;
}
.navbar_nav{
    gap: 20px;
}

@media (max-width:481px){ /*Mobile <= 360px (Samsung)*/
    .atendimento_header{
        font-size: 9.5pt;
    }
    .logo_header{
        width: 50%;
    }
    .nav_header{
        width: 120%;
        font-size: 10pt;
    }

    .container_header_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .nav_header_ul{
        text-align: center;
        justify-content: center;
    }

    .col_logo_header{
        justify-content: center;
    }
}

/*--------------------------------------------------*/

/*Faixa de titulo---------------------------------------------*/
.faixa_titulo{
    background-color: var(--vinho);
    color: white;
    height: 150px;
    max-width: 100vw;
}

.col_titulo_faixa{
    display: flex;
    padding: 20px;
}

.col_imagem_faixa{
    background-color: gray;
    height: 100%;
}

@media (max-width:481px){ /*Mobile <= 360px (Samsung)*/
    .faixa_titulo{
    background-color: var(--vinho);
    color: white;
    height: 90px;
    max-width: 100vw;
}

.col_imagem_faixa{
    display: none !important;
}

.col_faixa_guia{
    display: none !important;
}

}

/*------------------------------------------------------*/
/*------------------------main*/
.img_poly{
    width: 50%;
    height: 100%;
    clip-path: polygon(
        0% 0%,        /* 1. Canto Superior Esquerdo */
        90% 0%,       /* 2. Início da inclinação superior (Ex: 90% da largura) */
        100% 50%,     /* 3. O PICO no meio da altura (100% da largura, 50% da altura) */
        90% 100%,     /* 4. Início da inclinação inferior (Ex: 90% da largura) */
        0% 100%       /* 5. Canto Inferior Esquerdo */
    );
    margin: 0;
}

.img_poly1{

    width: 50%;
    height: 100%;
    clip-path: polygon(
        10% 0%,       /* 1. Início da inclinação superior (Ex: 10% da largura) */
        100% 0%,      /* 2. Canto Superior Direito */
        100% 100%,    /* 3. Canto Inferior Direito */
        10% 100%,     /* 4. Início da inclinação inferior (Ex: 10% da largura) */
        0% 50%        /* 5. O PICO no meio da altura (0% de largura, 50% de altura) */
    );
    margin: 0;
}

article,img{
    width: 100%;
}

article{
    margin-top: 10px;
}

.main_pc{
    margin-top: 10px;
}

main p{
    font-size: 1.2em;
    text-align: justify;
    font-family: Poppins;
}

header p{
    font-size: 15.45px;
}
section{
    margin: 0;
}
.section1{
    margin-top: 10px;
    animation: slideright forwards 2s;
}

.section2{
    animation: slideleft forwards 2.5s;
}
h5{
    color: var(--vinho);
}

.col_info{
    max-width: 50%;
}

@media (max-width:481px) {
    .main_pc{
        display: none;
        margin: 0;
    }
}
/*--------------------------------------*/

.section_mobile1{
    background-color: #424040;
    color: white;
    justify-content: start;
    padding: 0;
}

.section_mobile2{
    background-color: var(--vinho);
    color: white;
    justify-content: start;
    padding: 0;
}

.div_info_mobile{
    margin: 0;
}

.section_mobile1 p, .section_mobile1 h6, .section_mobile1 h3, .section_mobile1 h5{
    animation: descer forwards 2s;
}

.section_mobile2 p, .section_mobile2 h6, .section_mobile2 h3, .section_mobile2 h5{
    animation: aparecer linear both;
    animation-timeline: view();
    animation-range: entry 0% cover 40%,exit 60% cover 100%;
}

.section_mobile1 img{
    animation: descer forwards 2s;
}



@media (min-width:481px){
    .main_mobile{
        display: none;
    }
}
/*-----------------------------------------*/
/*Fotter------------------------------------*/
.poligono_1{
    clip-path: polygon(40% 0, 100% 100%, 0 100%);
    background-color: var(--bg-grayb);
    width: 100%;
    height: 100px;
}

.footer_1{
    background-color: var(--bg-grayb);
}

footer{
     margin-top: 30px;
     color: white;
}

.footer_2{
    background-color: var(--bg-grayb);
    width: 100%;
    padding: 20px;
}

button{
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
}

.icon_footer{
    width: fit-content;
}

.footer_label_end{
    text-align: right;
    align-items: end;
}

footer p{
    font-size: 16px;
}

@media (max-width:481px){

    footer{
        margin: 0;
    }
    .poligono_1{
        display: none;
    }

    .horario_footer{
        display: none;
    }

    .titulo_mapa{
        display: none;
    }

    .ul_footer{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        list-style: none;
    }

    .footer_label_end{
        display: none;
    }

    .hr_footer{
        display: none;
    }

    .icon_footer{
        display: flex;
        justify-content: center;
    }
}