*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*-------------------------------------------*/

/*-------------------------a*/
header a{
    color: black;
    text-decoration: none;
    transition: 350ms ease-in-out;
}

header a:hover{
    cursor: pointer;
    color: var(--vinho);
}

footer a{
    color: white;
    text-decoration: none;
    transition: 350ms ease-in-out;
}

footer a:hover{
    cursor: pointer;
    color: var(--vinho);
}
/*-------------------------------------------*/

/*Fonts|Color Palete---------------------------*/
:root{
    --vinho: #531312;
    --bg-gray: #F2F2F2;
    --bg-grayb: #424040;
    --bggray2: #D9D9D9;
}



/*Header-----------------------------------------------*/
.icon_header{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10px;
}

.logo_header{
    width: 100%;
}

header{
    margin-top: 10px;
}

.navbar_col{
    display: flex;
    align-items: end;
}

.col_logo_header{
    display: flex;
}
.navbar_nav{
    gap: 20px;
}

@media (max-width:481px){ /*Mobile <= 360px (Samsung)*/
    .atendimento_header{
        font-size: 9.5pt;
    }
    .logo_header{
        width: 50%;
    }
    .nav_header{
        width: 120%;
        font-size: 10pt;
    }

    .container_header_2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .nav_header_ul{
        text-align: center;
        justify-content: center;
    }

    .col_logo_header{
        justify-content: center;
    }
}

/*--------------------------------------------------*/

/*Faixa de titulo---------------------------------------------*/
.faixa_titulo{
    background-color: var(--vinho);
    color: white;
    height: 150px;
    max-width: 100vw;
}

.col_titulo_faixa{
    display: flex;
    padding: 20px;
}

.col_imagem_faixa{
    background-color: gray;
    height: 100%;
}

.faixa_titulo a{
    text-decoration: none;
    color: white;
}

@media (max-width:481px){ /*Mobile <= 360px (Samsung)*/
    .faixa_titulo{
    background-color: var(--vinho);
    color: white;
    height: 90px;
    max-width: 100vw;
}

.col_imagem_faixa{
    display: none !important;
}

.col_faixa_guia{
    display: none !important;
}
}

/*------------------------------------------------------*/
/*Main---------------------------------------------------*/
main{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 20px;
    gap: 75px;
}

.img_article{
    width: 100%;
    background-size: cover;
}

article{
    overflow-wrap: break-word;
    max-width: 60%;
    text-align: justify;
}

.aside_1{
    background-color: var(--bggray2);
    height: fit-content;
}

.aside_2{
    background-color: var(--bggray2);
    height: fit-content;
}

.post_item1{
    border-bottom: solid 1px black;
    margin-bottom: 10px;
}

.post_item1, p{
    margin: 2;
}

@media (max-width:481px){

    #section{
        display: none !important;
    }

    aside{
        display: none;
    }

    article{
        max-width: 100%;
    }

    #main{
        gap: 0;
        margin: auto;
        padding: 0;
        display: flex;
        max-width: 100%;
        margin-right: 0;
        justify-content: center;
    }

    .principal{
        padding: 0;
    }

    .aside_container{
        display: none;
    }
}
/*---------------------------------------------------------------
/*Section-----------------------------*/

.data{
    display: flex;
    background-color: #531312;
    max-width: 70px;
    max-height: 70px;
    color: white;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
}

.info_section{
    overflow-wrap: break-word;
    text-align: justify;
}

section{
    display: flex;
    margin: 0;
    margin-left: 10px;
    width: fit-content;
    
}

.section_item{
    margin: 0;
    max-width: fit-content;
}

aside a{
    color: black;
    text-decoration: none;
}

.post_item1{
    transition: ease-in-out 350ms;
}

.post_item1:hover{
    transform: scale(1.02);
    transition: ease-in-out 350ms;
}

.section_item a{
    text-decoration: none;
    color: black;
    opacity: 1;
}

.section_item{
    transition: 350ms ease-in-out;
}

.section_item:hover{
    opacity: 0.5;
    transform: scale(0.9);
    transition: 350ms ease-in-out;
}

/*--------------------------------------------------------*/
/*Fotter------------------------------------*/
.poligono_1{
    clip-path: polygon(40% 0, 100% 100%, 0 100%);
    background-color: var(--bg-grayb);
    width: 100%;
    height: 100px;
}

.footer_1{
    background-color: var(--bg-grayb);
}

footer{
     margin-top: 30px;
     color: white;
}

.footer_2{
    background-color: var(--bg-grayb);
    width: 100%;
    padding: 20px;
}

button{
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
}

.icon_footer{
    width: fit-content;
}

.footer_label_end{
    text-align: right;
    align-items: end;
}

@media (max-width:481px){
    .poligono_1{
        display: none;
    }

    .horario_footer{
        display: none;
    }

    .titulo_mapa{
        display: none;
    }

    .ul_footer{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        list-style: none;
    }

    .footer_label_end{
        display: none;
    }

    .hr_footer{
        display: none;
    }

    .icon_footer{
        display: flex;
        justify-content: center;
    }
}